!!!5
html(xmlns:fb='http://ogp.me/ns/fb#')
    head
        // CSS
        // meta
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        meta(name='viewport', content='width=device-width')
        meta(name='apple-mobile-web-app-capable', content='yes')

        // external
        link(rel='stylesheet', src='http://normalize-css.googlecode.com/svn/trunk/normalize.css', type='text/css')

        // internal
        link(rel='stylesheet', href='./stylesheets/style.css')

        title QUEST
    body
        #body
            block content

        script(src='/javascripts/base.js')